cachetools
click
docker
Flask
Flask-HTTPAuth
Flask-Limiter
Flask-WTF
gevent
gsqlite3 @ git+https://github.com/gilesbrown/gsqlite3.git@f20b8964c4041eea57ed8fb9be1a620e51dad572
gunicorn
hiredis
numpy
pillow
pipdeptree
python-dotenv
redis
requests
rq
rq-dashboard
rq-scheduler
sentry-sdk
simple-websocket
tensorflow
tensorflow-hub
torch==2.2.2
torchvision==0.17.2
wrapt
WTForms
