{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}Statistics{% endblock %}</h1>
  <h2>Job history</h2>
  <ul>
    {% for period, (finished, failed, unfinished) in job_stats.items() %}
      <li>
        Last <strong>{{ period }}</strong>:
        <strong class="text-success">{{ finished }}</strong> finished
        {%- if failed %}, <strong class="text-danger">{{ failed }}</strong> failed{% endif %}
        {%- if unfinished %}, <strong class="text-warning">{{ unfinished }}</strong> unfinished{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
