{% extends 'base.html' %}

{% block title %}Too Many Requests{% endblock %}

{% block content %}
  <h1>Please slow down</h1>
  <!-- TODO: image -->
  <p>
    To protect our application from bots and other malicious use, we limit the rate of image submissions.
    You have exceeded the rate limit (<strong>{{ limit }}</strong>) and have been temporarily locked out for <strong>{{ lockout_time }}</strong>.
    You're welcome to retry after the lockout expires.
    Please don't retry too early, as that would prolong the lockout.
    Instead, wait for the lockout to expire and then retry.
    We're sorry for the inconvenience.
    Given that this service is free and our resources are limited, we believe this limit is fair and enough for most people.
    Nevertheless, we may increase it in the future.
    Thank you for your understanding.
  </p>
  <p><a href="{{ url_for('index') }}">Home</a></p>
{% endblock %}
