/*
 * Copyright 2024 Victor Semionov
 */


div:has(> .ps-upload) {
    position: relative;
}

.ps-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.ps-upload + label {
    cursor: pointer;
    position: relative;
}

.ps-upload + label > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ps-upload + label > img {
    height: 240px;
}

.ps-upload:focus + label > img {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#result-image {
    max-height: 480px;
}
