{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">{% block title %}Stylize Images With AI{% endblock %}</h1>
  <form action="{{ url_for('index', _anchor='upload') }}" method="post" enctype="multipart/form-data" id="upload"
        class="row">
    {{ form.csrf_token }}
    {% if form.form_errors %}
      <ul>
        {% for error in form.form_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="col-12 col-sm-6 mb-3">
      {{ form.content_image(class='form-control ps-upload' + (' is-invalid' if form.content_image.errors else '')) }}
      <label class="form-label w-100 text-center" for="content_image">
        <span>Original image</span>
        <img class="img-thumbnail"
src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
             alt="">
      </label>
      {% for error in form.content_image.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>
    <div class="col-12 col-sm-6 mb-3">
      {{ form.style_image(class='form-control ps-upload' + (' is-invalid' if form.style_image.errors else '')) }}
      <label class="form-label w-100 text-center" for="style_image">
        <span>Style image</span>
        <img class="img-thumbnail"
src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
             alt="">
      </label>
      {% for error in form.style_image.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>
    <div class="form-text col-12 mb-3">
      {% for format in settings.ALLOWED_FORMATS %}
        {%- if not loop.first %}{% if loop.last %} or{% else %},{% endif %}{% endif %}
        <strong>{{ format }}</strong>
        {%- if loop.last %}.{% endif %}
      {%- endfor %}
      At most <strong>{{ settings.MAX_RESOLUTION_MP }} megapixels</strong> per image.
      Total size must not exceed <strong>{{ settings.MAX_UPLOAD_SIZE_MB }} MB</strong>.
    </div>
    <div class="col-12 col-sm-6 mb-4">
      {{ form.strength.label(class='form-label') }}
      {{ form.strength(class='form-range' + (' is-invalid' if form.style_image.errors else '')) }}
      {% for error in form.strength.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary  ">Upload</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
      const initialImgSrc = document.querySelector('.ps-upload + label > img').src;
      document.querySelectorAll('.ps-upload').forEach(input => {
          input.onchange = evt => {
              const label = input.labels[0];
              const img = label.querySelector('img');
              const span = label.querySelector('span');
              const [file] = input.files;
              if (file) {
                  span.hidden = true;
                  img.src = URL.createObjectURL(file);
              } else {
                  span.hidden = false;
                  img.src = initialImgSrc;
              }
          };
      });
  </script>
{% endblock %}
