{% extends 'base.html' %}

{% block title %}PicStylist{% endblock %}
{% block title_suffix %}{% endblock %}

{% block content %}
  <h1>Hello World!</h1>
  <div id="upload">
    {% if form.form_errors %}
      <ul>
        {% for error in form.form_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="{{ url_for('index') }}#upload" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div>
        <!-- TODO: test -->
        {{ form.content_image.label }} {{ form.content_image }}
        {% if form.content_image.errors %}
          <ul>
            {% for error in form.content_image.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div>
        <!-- TODO: test -->
        {{ form.style_image.label }} {{ form.style_image }}
        {% if form.style_image.errors %}
          <ul>
            {% for error in form.style_image.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <input type="submit" value="Upload">
    </form>
  </div>
  <p><a href="{{ url_for('html', name='model') }}">How it works</a></p>
{% endblock %}
